.sidebarChildContainer {
    display: flex;
    flex-direction: column;

    gap: 10px;

    .appTitle {
        font-size: 24px;
    }

    .navBar {
        display: flex;
        flex-direction: column;

        gap: 10px;
    }
}